<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
</head>

<body>
<div class="flex-container">
    <div class="container">
        <h1>Test Yourself</h1>
        <p class="lead"><strong> Question. </strong> <%= question.text %> </p>
        <form method="POST" action='/answer'>
            
			<label class="container"><%= options[0] %>
			  <input type="radio" name="radio">
			  <span class="checkmark"></span>
			</label>
			<label class="container"><%= options[1] %>
			  <input type="radio" name="radio">
			  <span class="checkmark"></span>
			</label>
			<label class="container"><%= options[2] %>
			  <input type="radio" name="radio">
			  <span class="checkmark"></span>
			</label>
			<label class="container"><%= options[3] %>
			  <input type="radio" name="radio">
			  <span class="checkmark"></span>
			</label>
			
            <p><button>Submit</button></p>
        </form>
		<p> Level: <strong><%= question.level %></strong></p>
    </div>
</div>
</body>